/* Overlay principal */
.aot-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3000;
  backdrop-filter: blur(8px);
}

/* El Modal con la imagen de fondo */
.aot-modal-document {
  width: 90%;
  max-width: 700px;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  border: 4px solid var(--PrimerColor);
  position: relative;
  border-radius: 0; /* Estilo rústico militar */
  display: flex;
  flex-direction: column;
}

/* Tipografía del Nombre */
.aot-titan-name-light {
  color: var(--TextoClaro);
  font-family: "Georgia", serif;
  text-shadow:
    2px 2px 10px rgba(0, 0, 0, 0.8),
    0 0 20px var(--TercerColor);
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Línea roja debajo del nombre */
.aot-underline-blood {
  height: 5px;
  width: 150px;
  background-color: var(--TercerColor);
  margin: 15px auto;
  box-shadow: 0 0 10px var(--TercerColor);
}

/* Sello de Confidencial/Peligro */
.aot-stamp-red {
  border: 4px solid var(--TercerColor);
  color: var(--TercerColor);
  padding: 5px 15px;
  font-weight: 900;
  transform: rotate(-5deg);
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
}

/* Línea punteada superior */
.aot-header-line {
  height: 2px;
  background: repeating-linear-gradient(
    90deg,
    var(--TextoClaro),
    var(--TextoClaro) 10px,
    transparent 10px,
    transparent 20px
  );
  opacity: 0.5;
}

/* Caja de información inferior */
.aot-info-box {
  background: rgba(0, 0, 0, 0.6);
  border-left: 5px solid var(--SegundoColor); /* Verde Legión */
  backdrop-filter: blur(2px);
  color: var(--TextoClaro);

.shadow-intensity {
  box-shadow: 0 0 50px rgba(142, 118, 64, 0.4) !important;
}
